.container {
    background-color: #384959;
    color: var(--light-blue);
    text-align: center;
    padding: 80px;
    font-size: 1.5em;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    font-style: italic;
}
