@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Roboto", sans-serif;
    --dark-navy: #384959;
    --mid-blue: #6A89A7;
    --light-blue: #88bdf2;
    --pale-blue: #bdddfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    font-family: var(--font-main);
}